backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
dnspython==2.2.1
docopt==0.6.2
futures==3.0.5
idna==3.3
pymongo==4.1.1
python-dotenv==0.20.0
requests==2.28.1
singledispatch==3.7.0
six==1.16.0
soupsieve==2.3.2.post1
tornado==6.2
urllib3==1.26.10
