[Unit]
Description=MFTP server
After=network.target

[Service]
ExecStart=MFTPD/service/systemd/mftp-startup-service.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
